.noselect {
  -webkit-touch-callout: none; /* для noselect iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.window {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.context {
  display: flex;
  height: 100%;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--color-main-background);
  flex-grow: 1;

  composes: noselect;
}

.row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 100%;
}
