.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.auth {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: lightskyblue;
  flex-grow: 1;
}
